<h2>Controllers</h2>
  <b>Controllers are awesomeeeee!!!!</b> Make sure you use controllers for <i>everything</i>.
      Every controller must meet the following criteria:
  <ul>
    <li>It must be at least 300 lines of code long.</li>
    <li>It must make use of $on / $emit or $broadcast exactly six times.</li>
    <li>It must modify the DOM directly, ideally using JQuery.</li>
    <li>Have at least twenty references to $scope, and at least one reference to $rootScope.</li>
    <li>Keep multiple models in the same controller, which are almost named the same but do completely different things.</li>
    <li>Paste the controller two times in different folders, in order to make sure the code doesn't get accidentally deleted.</li>
    <li>Ensure each controller makes at least five $httpBackend calls.</li>
    <li>If you need to make the same $htpBackend call twice, paste it again.</li>
    <li>If you have a piece of code you need executed with every $digest (such as an HTTP call), place it in a $watch.</li>
  </ul>

<h2>Directives</h2>
<ul>
  <li>Make sure to create a directive that loads your application via a CSS Class tag. This is suggested by the angular team <href src='https://docs.angularjs.org/guide/directive#directive-types'>here</href> </li>
  <li>Add a nice loading bar directive to your application which is displayed once your application has finished loading.</li>
</ul>

<h2>Services</h2>
<ul>
  <li>For optimal reusability, if ever need to write a service (why?) make sure it calls at least another service which in turn calls another service to retrieve information.</li>
</ul>

<h2>Build</h2>
<ul>
  <li>Make sure the total lines of gulp code exceeds the total lines of application code at all times.</li>
  <li>Make sure the production build is <i>larger</i> than the development build.</li>
</ul>
